body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image:
    url('./bg.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}
h1,p{
    color: white;
    line-height: 10px;
    text-align: center;
}
p{
    font-size: 20px;
}

.formCard{
    position: relative;
    background-image:
    linear-gradient(to bottom,  rgba(2, 27, 5, 0.73), rgba(0, 8, 1, 0.73));
 
    color: rgb(1, 2, 0);

    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    width: 60%;
    left: 20%;
    top: 20%;
}
label{
    font-size: 23px;
    color: white;
    padding: 5px;
    margin: 5px;
    text-align: left;
}

[type = 'text'],[type = 'email'],[type = 'number'],textarea,select{
    border-radius: 5px;
    width: 90%;
    height: 30px;
    outline: none;

    font-size: 15px;
    font-family: sans-serif;

}
[type='submit']{
    position: relative;
    left: 10%;

    background-color: rgb(66, 248, 66);
    color: white;
    font-size: 20px;
    font-weight: bold;

    width: 80%;
    outline: none;
    border-radius: 5px;
    border-color:  rgb(66, 248, 66);
    
}
textarea{
    text-align: left;
    height: 300px;
    font-size: 20px;
    color: black;
}